@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #f2d91e;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 #000;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.enlaces-header {
    font-weight: 300;
    margin: auto;
    transition: all ease-in-out .6s;
}

.enlaces-header>a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;
}

.enlaces-header>a:hover {
    color: #FDB911;
    background-color: #000;
    border-color: #000;
    transition: all ease-in-out .6s;
    border-radius: 50px;
}

.enlaces-header>button {
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
    width: 120px;
}

.contenido-header {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.contenido-header>img {
    width: 400px;
    height: 300px;
    animation: ease-in animacion 0.5s;
    margin-left: 50px;
    border-radius: 50%;
}

@keyframes animacion {
    0% {
        transform: scale(0);

    }

    100% {
        transform: scale(1);
    }
}

.textos-header {
    margin: 0 0 0 30px;
    color: #000;
}

.textos-header>h1 {
    border-style: hidden hidden solid;
}

.container {
    width: 100%;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.color-div {
    /* background: rgba(0,0,0,.5); */
    backdrop-filter: brightness(30%);
}

.contenedor {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

h1 {
    font-size: 50px;
    font-family: 'Audiowide', sans-serif;
    border-style: hidden hidden solid;
    opacity: 1;
    color: #fff;
}

.textos-header>h3 {
    color: #fff;
}

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

.info-empresa>h3 {
    color: #fff;
}

.contenido-header {
    font-weight: 300px;
    margin-top: 14px;
    color: #FDB911;
    text-align: justify;
}

.contenido-header a {
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background-color: #FDB911;
    text-align: center;
    color: black;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(18, 26, 61, 0.46);
}

.contenedor-nav {
    display: flex;
    text-align: center;
    margin-top: 29px;
}



/* XXXXXXXXXXXXXXXXXXX CARS XXXXXXXXXXXXXXXXXXXX*/

/* XXXXXXXXXXXXXXXXXXXXXX TOYOTA XXXXXXXXXXXXXXXXXXXXXXXX */
.titletoyota {
    margin-top: 30px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    border-style: hidden hidden solid;
}

.titletoyota>img {
    width: 500px;
    height: auto;
}

.cars {
    background-color: #f2d91e;
}

.contenido-cars {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    border-radius: 0px;
    box-shadow: 0 8px 12px rgba(18, 26, 61, 0.46);
}

.textos-cars {
    width: 30%;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: all ease-in-out .5s;
    font-family: 'Audiowide', sans-serif;
    margin-bottom: 50px;
}

.textos-cars:hover {
    box-shadow: 0 4px 10px rgb(17, 29, 48);
    color: #f2d91e;
    background-color: #000;
    transition: .5s;
}

.textos-cars>h3 {
    margin-bottom: 20px;
}

.textos-cars>img {
    margin-top: -30px;
    margin-left: -30px;
}

.cruiser>img {
    margin-top: -60px;
    margin-left: -15px;
}

.land>img {
    margin-top: 30px;
}

.cross>img {
    margin-top: -35px;
    margin-left: -40px;
}

.runner {
    margin-top: -65px;
}

.rav4 {
    margin-top: 20px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX CHEVROLET XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.titlechevrolet {
    margin-top: 70px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    border-style: hidden hidden solid;
    border-top: 100hv;
}

.titlechevrolet>img {
    width: 400px;
    height: auto;
}

.blazer {
    margin-top: 50px;
    margin-left: -80px;
}

.silverado {
    margin-top: 30px;
    margin-left: -60px;
}

.tahoe {
    margin-top: 60px;
    margin-left: -25px;
}

.colorado {
    margin-left: -40px;
    margin-top: 50px;
}

.tracker {
    margin-top: 35px;
    margin-left: -20px;
}

.montana {
    margin-top: 45px;
    margin-left: -75px;
}



/*XXXXXXXXXXXXXXXXXXXXX FORD XXXXXXXXXXXXXXXXXXXXXX*/


.titleford {
    margin-top: 3%;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    border-style: hidden hidden solid;
}

.titleford>img {
    width: 50%;
    height: auto;
    margin-bottom: -10%;
    margin-top: -15%;
}

.ranger {
    margin-top: 3%;
}

/* .raptor {
   
}*/

.explorer {
    margin-top: -1%;
}

.expedition {
    margin-top: 3%;
    margin-left: -2%;
}

.bronco {
    margin-top: -2%;
    margin-left: -2%;
}

.escape {
    margin-top: 3.5%;
    margin-left: -1.5%;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #000;
    height: 300px;
    padding: 4%;
    border-radius: 0px;
}




/* ////////////////////////////FOOTER////////////////////////// */
#social-media {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#social-media h2 {
    color: #FDB911;
    margin-top: 40px;
    margin-bottom: 50px;
    border-style: hidden hidden solid;
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

}

.social-button {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.social-button.instagram {
    background-color: #e4405f;
}

.social-button.facebook {
    background-color: #3b5998;
}

.social-button.whatsapp {
    background-color: #25d366;
}

.social-button.twitter {
    background-color: #1da1f2;
}

.social-button:hover {
    opacity: 0.5;
}








/* /////////////////////////CREA TU CUENTA/////////////////////////////// */

.container2{
    padding-top: 50px;
    width: 100%;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}



.nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

#section_cuenta {
    padding: 20px;
    max-width: 600px;
    margin-left: 28%;
    margin-top: 40px;
    background-color: #f2d91e;
    border: 2px solid #000;
    border-radius: 15px;
}

h2 {
    color: #000;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}



label {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 115px;
    border-radius: 20px;
}

input{
    margin-left: 115px;
    border-radius: 25px;
    width: 320px;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    font-family: 'Audiowide', sans-serif;
}

.crear_cuenta {
    margin-top: 30px;
    padding: 5px;
    border-radius: 15px;
    color: #000;
    background-color: #fff;
    font-family: 'Audiowide', sans-serif;
}

.crear_cuenta:hover {
    color: #FDB911;
    background-color: #000;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
    transition: ease-in-out .5s;
}



/* //////////////////////////FINANCIAR///////////////////////// */

.financiacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #FDB911;
    width: 100%    ;
    height: 800px;
    padding-top: 50px;
}
.financiacion > h1{
    font-size: 40px;
    color: #000;
}
.texto_financiacion{
    margin-top: 20px;
    

}
.texto_financiacion > p{
    display: flex;
    justify-content: left;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: 115px;
}
.seccion_ops{
    display: flex;
    justify-content: center;
}

.foto1{
    margin-top: 50px;
}

.opciones-financiacion{
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
}
.opciones-financiacion>h2{
    display: flex;
    border-style: hidden hidden solid;
    justify-content: left;
    margin-bottom: 12px;
}

.seccion_requisitos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: 400px;
    background-color: #000;
    color: #FDB911;
    margin-top: 60px;
}
.foto2>img{
    border-radius: 15px;
}
.requisitos-financiacion>h2{
    
    margin-right: 400px;
    color: #FDB911;
    margin-bottom: 20px;
    border-style: hidden hidden solid;
}

.seccion_solicitud{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: 400px;
    background-color: #FDB911;
    color: #000;
}

.foto3>img{
    border-radius: 15px;
    margin-left: 20px;
}
.proceso-solictud>h2{

    margin-left: 300px;
    color: #000;
    margin-left: 200px;
    margin-bottom: 20px;
    border-style: hidden hidden solid;
}
.proceso-solictud>p{
    margin-left: 200px;
    justify-content: right;

}
.seccion_beneficios{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 50px;
    background-color: #000;
}

.beneficios{
    margin-left: 70px;
    color: #FDB911;
}
.beneficios>h2{
    color: #FDB911;
    border-style: hidden hidden solid;
    margin-bottom: 20px;
}
.iconbeneficios>img{
    margin-left: 250px;
}

.seccion_preguntas{
    display: flex;
    justify-content: right;
    align-items: center;
    
    width: 100%;
    height: 400px;
    padding: 50px;
    background-color: #FDB911;
}
.preguntasfreq{
    margin-left: 70px;
    color: #000;
}
.preguntasfreq>h2{
    color: #000;
    border-style: hidden hidden solid;
    margin-bottom: 20px;
}
.iconquestion>img{
    margin-right: 150px;
}
